<ion-view view-title="Push Notifications">
  <ion-content>
    <div class="list">

      <label class="item item-radio">
        <input type="radio" name="group">
        <div class="item-content">English</div>
        <i class="radio-icon ion-checkmark"></i>
      </label>

      <label class="item item-radio">
        <input type="radio" name="group">
        <div class="item-content">日本語 (Japanese)</div>
        <i class="radio-icon ion-checkmark"></i>
      </label>

      <label class="item item-radio">
        <input type="radio" name="group">
        <div class="item-content">Español (Spanish)</div>
        <i class="radio-icon ion-checkmark"></i>
      </label>

      <label class="item item-radio">
        <input type="radio" name="group">
        <div class="item-content">Português (Portuguese)</div>
        <i class="radio-icon ion-checkmark"></i>
      </label>

      <label class="item item-radio">
        <input type="radio" name="group">
        <div class="item-content">Pусский (Russian)</div>
        <i class="radio-icon ion-checkmark"></i>
      </label>
    </div class="list">
</ion-view>
</ion-content>
